.fontDetails {
  font-size: 19px;
  justify-content: center;
  display: flex;
  text-align: justify;
}

.listDetails {
  list-style: none;
  cursor: pointer;
}

.listgroupDetails {
  background-color: #f8f9fa;
  border: 2px solid white;
  display: flex;
  text-align: justify;
}

.strick {
  width: 100%;
  text-align: center;
  border-bottom: 1px solid #000;
  line-height: 0.1em;
  margin: 10px 0 20px;
}

.strick span {
  background: #fff;
  padding: 0 10px;
}

.list-group {
  margin-top: 10px;
}
